Repository raoulg/private-data-hosting: changes, and which lefthook commands are due for each by the changed paths.
All: mypy, hadolint, yamllint

mypy:
  run: mypy {staged_files} --ignore-missing-imports

hadolint:
  run: hadolint {staged_files}

yamllint:
  run: yamllint {staged_files}

pyproject.toml
  pyproject.toml
  uv.lock
Due: none

gitignore data
  .gitignore
Due: none

makefile
  Makefile
Due: none

download script
  README.md
  download_data.sh
Due: none

improved makefile
  Makefile
  README.md
Due: none

use port 80
  Makefile
  docker-compose.yml
  download_data.sh
Due: yamllint

update .sh script for curl use
  download_data.sh
Due: none

update README
  README.md
Due: none

make download accept target dir
  download_data.sh
Due: none

unzip
  README.md
  download_data.sh
Due: none

extend to transfer / download more files
  Makefile
  app/main.py
  docker-compose.yml
  download_data.sh
Due: mypy, yamllint

add frontend
  app/main.py
  app/static/index.html
Due: mypy

improve docs and multiple scenarios
  .env.sample
  GROUP_SETUP.md
  Makefile
  README.md
  WINDOWS_UPLOADER.md
  download_data.sh
  pyproject.toml
Due: none

update docsa
  .gitignore
  README.md
  docs/GROUP_SETUP.md
  docs/WINDOWS_UPLOADER.md
Due: none

add logging from frontend
  app/main.py
  app/static/index.html
Due: mypy

upload via gui
  .env.sample
  app/main.py
  app/static/index.html
  docker-compose.yml
  download_data.sh
  pyproject.toml
  uv.lock
Due: mypy, yamllint

progress bar and ignore gitkeep
  app/main.py
  app/static/index.html
Due: mypy

multiple files
  Makefile
  README.md
  app/main.py
  app/static/index.html
  docs/CLI_USAGE.md
  docs/GROUP_SETUP.md
  docs/WINDOWS_UPLOADER.md
Due: mypy

makefile, docs
  Makefile
  docs/CLI_USAGE.md
Due: none

fix name overflow
  app/static/index.html
Due: none

add down and restart to makefile
  Makefile
Due: none

Path conditions:
  mypy: any of: *.py
  hadolint: any of: Dockerfile
  yamllint: any of: *.yml
